* {
    overflow: hidden;
}
#App {
    position: relative;
    height: 100%;
    background: url("../public/glassesImage/background.jpg") no-repeat center / contain ;
    background-size: cover;
}

#Content-wrap {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 50px;
}

#Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.header-title {
    color: #fff;
}

#Content {
    position: absolute;
}

.img-model-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-glasses {
    height: 500px;
}
.img-model {
    height: 60%;
}

.glasses-infor {
    position: absolute;
    width: 43.6%;
    background-color: rgb(61 61 61 / 50%);
    bottom: 118px;
}
.img-glasses-for-model {
    position: absolute;
    width: 148px;
    top: 207px;
    left: 255px;
}

.option-glasses {
    background-color: #fff;
    padding: 28px 12px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.option-glasses-list {
    padding: 0;
    margin: 0;
}
.option-glasses-item {
    list-style: none;
}
.option-glasses-item:hover {
    cursor: pointer;
}